.conteiner{
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(4,50px);
  grid-template-rows: auto;
  border:1px solid gray;
  grid-template-areas: 
  "header header header header" 
  "main main . sidebar"
  "footer footer footer footer";
}
.item__a{
background-color: blue;
grid-area: header;
}
.item__b{
background-color: yellow;
grid-area: main;
}

.item__c{
  background-color: brown;
  grid-area: sidebar;
}

.item__d{
background-color: green;
grid-area: footer;
}
